<div style="font-weight: bold;"><%=adminRegion%>&nbsp;&nbsp;<%=cellName%></div>
<div class="gis-tk">
<ul>
<li><span>LAC：</span><%=lac%></li>
<li><span>CELLID：</span><%=cellId%></li>
</ul>
</div>