<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.complaint.dao.Ftp4gMapper">
  <select id="queryFtp" resultType="com.complaint.model.TFtpConfig">
   select t.*,rownum rn from t_ftp_config_4g t where t.status=1
  </select>
  <!-- 修改FTP配置 -->
  <insert id="insertFtp" parameterType="com.complaint.model.TFtpConfig">
  insert into t_ftp_config_4g
  	(id,username,pwd,encrypt_pwd,ip,port,file_dir,file_name,ftp_type,status,file_size
  	<if test="server_name != null and server_name != '' ">,server_name</if>
  	<if test="server_num != null and server_num != '' ">,server_num</if>
  	<if test="remarker != null and remarker != '' ">,remarker</if>
  	)
   values(
   Seq_t_ftp_config_4g.Nextval,
   #{username,jdbcType=VARCHAR},
   #{pwd,jdbcType=VARCHAR},
   #{encrypt_pwd,jdbcType=VARCHAR},
   #{ip,jdbcType=VARCHAR},
   #{port,jdbcType=NUMERIC},
   #{file_dir,jdbcType=VARCHAR},
   #{file_name,jdbcType=VARCHAR},
   #{ftp_type,jdbcType=NUMERIC},
   #{status,jdbcType=NUMERIC},
   #{file_size,jdbcType=VARCHAR}
   <if test="server_name != null and server_name != '' ">,#{server_name,jdbcType=VARCHAR}</if>
   <if test="server_num != null and server_num != '' ">,#{server_num,jdbcType=VARCHAR}</if>
   <if test="remarker != null and remarker != '' ">,#{remarker,jdbcType=VARCHAR}</if>
   )
  </insert>
  <select id="countPage" resultType="java.lang.Integer" parameterType="map">
   select count(0) from t_ftp_config_4g 
		<if test="name != null and name != '' ">		
			where username  like   '%' ||  #{name} || '%' 
		</if>
  </select>
  <select id="getTFtpConfig" resultType="com.complaint.model.TFtpConfig" parameterType="map">
  	select * from (
  		select a.*,rownum rn from t_ftp_config_4g a where 
  			<if test="name != null and name != '' ">
  				username  like   '%' ||  #{name} || '%' and
  			</if>
  			rownum &lt;= #{rn}
  	) where rn &gt; #{ln}
  </select>
  <select id="getQueryFtpByNum" resultType="com.complaint.model.TFtpConfig" parameterType="java.lang.Integer">
  select *
  from (select id,
               username,
               pwd,
               encrypt_pwd,
               ip,
               port,
               file_dir,
               file_name,
               file_size,
               ftp_type,
               status,
               server_name,
               server_num,
               remarker,
               rownum rn
          from t_ftp_config_4g
         where server_num = #{num}) where rn=1
  </select>
  <delete id="deleteftp" parameterType="java.lang.Integer">
  	delete t_ftp_config_4g where id = #{id}
  </delete>
  <select id="searchById" resultType="com.complaint.model.TFtpConfig" parameterType="java.lang.Integer">
  select id,username,pwd,encrypt_pwd,ip,port,file_dir,file_name,ftp_type,status,file_size,server_name,server_num,remarker from t_ftp_config_4g where id = #{id}
  </select>
  <update id="updateFtp" parameterType="com.complaint.model.TFtpConfig">
  update t_ftp_config_4g set 
  username = #{username}
  ,pwd = #{pwd}
  ,encrypt_pwd = #{encrypt_pwd}
  ,ip = #{ip}
  ,port = #{port}
  ,file_dir = #{file_dir}
  ,file_name = #{file_name}
  ,status = #{status}
  ,file_size = #{file_size}
  <if test="server_name != null and server_name != '' ">,server_name = #{server_name}</if>
  <if test="server_num != null and server_num != '' ">,server_num = #{server_num}</if>
  <if test="remarker != null and remarker != '' ">,remarker = #{remarker} </if>
  where id =#{id}
  </update>
  <update id="staUse" parameterType="java.lang.Integer">
  update t_ftp_config_4g set status = 1 where id =#{id}
  </update>
  <update id="staClose">
  update t_ftp_config_4g set status = 0
  </update>
  <update id="staOff" parameterType="java.lang.Integer">
  update t_ftp_config_4g set status = 0 where id =#{id}
  </update>
</mapper>
